<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <title>Template</title>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        background-color: pink;
        overflow: hidden;
      }

      button, a {
        height: 64px;
        line-height: 64px;
      }
    </style>

    <script src="js/navigate.js">
    </script>
  </head>

  <body>
    <button id="window.open">Window Open</button>
    <br>
    <button id="window.open.remote">Window Open Remote</button>
    <br>
    <a href="bar.html" target="blank">Target blank</a>
    <br>
    <button id="window.alert">Window Alert</button>
    <br>
    <button id="window.confirm">Window Confirm</button>
    <br>
    <button id="window.prompt">Window Prompt</button>
  </body>

</html>
