#rocketbar {
  top: absolute;
  height: 6.7rem;
  width: 100%;
  padding: 0;

  font: 1.4rem "Feura Sans",sans-serif;

  transform: translateY(-100%);

  transition: transform 0.3s linear 0.1s; /* delay to prevent jumping while redirecting */
}

#rocketbar.open {
  transform: translateY(0);
}

#rocketbar-input {
  border: none;
  margin: 0;
  padding: 1.5rem;
  width: 100%;

  color: #fff;
  font-size: 1.6rem;
  background: rgb(34, 34, 34);
  border-radius: 0;
}

#rocketbar-results {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 6.7rem 0 0 0;
  width: 100%;
  height: calc(100% - 6.7rem);
  overflow: scroll;

  list-style-type: none;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.9);

  pointer-events: none;
  opacity: 0;

  transition: opacity 0.3s linear;
}

#rocketbar-results.open {
  opacity: 1;
  pointer-events: auto;
}

#rocketbar-results li {
  border-bottom: 1px solid rgb(68, 68, 68);
  margin: 0;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 1.5rem center;
  background-size: 3rem;
}

#rocketbar-results li * {
  pointer-events: none;
}

#rocketbar-results li:last-child {
  border-bottom: none;
}

#rocketbar-results li h3 {
  display: block;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#rocketbar-results li small {
  display: block;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#progress {
  position: absolute;
  width: 100%;
  height: 0.3rem;
  padding: 0;
  margin: 0;

  transform: translateY(-100%);

  transition: transform 0.3s linear;
}

#progress.loading {
  transform: translateY(0);
  background: url('progress.gif') repeat-x left bottom / 100%;
}
