
#windows {
  position: absolute;
  left: 0rem;
  width: 100%;
  top: -100%;
  height: 0;
  max-height: 0;
  border: 0rem;
  overflow: hidden;
}

#windows.active {
  top: 0;
  height: 100%;
  max-height: 100%;
}

.window-wrapper {
  z-index: 500;
}

.window-wrapper:not([data-type=homescreen]) {
  transform: translateX(-20%) scale(0.9);
  opacity: 0.3;
}

.window-wrapper:not([data-current]) {
  pointer-events: none;
}

.window-wrapper.shadow {
  border-left: 8px rgba(0, 0, 0, 0.4) solid;
}

.window-wrapper[data-current="true"] {
  transform: translateX(0);
  opacity: 1;
}

.window-wrapper[data-current="true"].shadow {
  transform: translateX(-8px);
}

.window-wrapper[data-current="true"] ~ .window-wrapper {
  transform: translateX(100%);
  opacity: 1;
}

.window-wrapper:not([data-current="true"]).forward {
  transform: translateX(100%);
}

.window-wrapper[data-current="true"] ~ .window-wrapper.shadow {
  transform: translateX(calc(100% - 8px));
}

.window-wrapper[data-type="homescreen"][data-current="true"] ~ .window-wrapper {
  opacity: 0;
}

.window-wrapper[data-type="homescreen"] {
  transform: translateX(100%);
}

.window-wrapper[data-type="homescreen"][data-current] {
  transform: translateX(0);
}

.window-wrapper[data-type="homescreen"][data-current].shadow {
  transform: translateX(-8px);
}

.window-wrapper[data-type="homescreen"]:not([data-current="true"]) {
  opacity: 0;
}

.window-wrapper .cover {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;

  display: none;

  /*outline: 10px solid red;*/
  /*outline-offset: -10px;*/
}

.window-wrapper.transitioning {
  display: block;
}

.window-wrapper[data-current="true"] {
  display: block;
  z-index: 1000;
}
