.draggable {
  z-index: 11000; /* higher than collection */
  pointer-events: none;
  position: fixed;
  text-align: center;
  width: 8rem;
}

.draggable > div {
  width: 100%;
	margin-top: .4rem;
	margin-bottom: .4rem;
  transform: scale(1.5);
  will-change: transform;
  transition: transform .4s;
}

.draggable > div > span.options {
  visibility: hidden;
}

/* label wrapper */
.draggable > div > span {
  margin-top: -0.05rem;
  /* shift left edge of text to center */
  left: 50%;
}

/* compensate for differences between E.me and homescreen li rendering */
#collection .draggable > div {
  margin-top: -0.1rem;
  margin-left: -0.15rem;
}

#collection .draggable > div > span {
  margin-left: 0.2rem;
  margin-top: -0.2rem;
}

/* text label */
.draggable > div > span > span {
  font-size: 1.3rem;
  line-height: 2rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,1);
  /* shift left edge of text half distance to left */
  margin-left: -106%;
}

.overDock > div > span:not(.options) {
  opacity: 0;
}

#collection .evme-apps ul.static[data-rearranging] li {
  transition-duration: 0s !important;
}

/* for elementFromPoint to return the draggable li and not child nodes */
body[data-dragging] span.options,
#collection[data-dragging] .evme-apps ul.static li img,
#collection[data-dragging] .evme-apps ul.static li span {
  pointer-events: none;
}

body[data-mode = 'edit'] ol > li[data-dragging],
#collection[data-mode = 'edit'] .evme-apps ul.static li[data-dragging] {
  opacity: 0;
  /* clear transition set by Result.css */
  /* the dragged li should instantly jump to position */
  transition: none;
}

body[data-dragging] ol > li,
#collection[data-dragging] .evme-apps ul.static li {
  opacity: 0.7;
}

body[data-mode = 'edit'] ol > li.hidden {
  visibility: hidden;
}

body[data-mode = 'edit'] ol > li[data-is-collection = 'true'] > div > img {
  transform: scale(1);
}

body[data-dragging] ol > li[data-is-collection = 'true'] > div > img {
  transform: scale(0.8);
}

body[data-dragging] ol > li[data-is-collection = 'true'].hover > div::before {
	transform: scale(1.2);
	opacity: 0.8;
  transition: transform 150ms ease-in-out;
}

/* This rules changes the axe icon for a plus symbol */

body[data-dragging] ol > li[data-is-collection = 'true'].hover > span.options,
body[data-dragging] #footer li[data-is-collection = 'true'].hover > span.options {
  background: url(../resources/images/plus_small_ico.png) no-repeat left top / 2.4rem;
}

.evmeScope #collection[data-mode='edit'] .evme-apps ul.static li span.remove {
  display: block;
}



