html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
}

* {
  -moz-user-select: -moz-none;
}

input {
  -moz-user-select: text;
}

section,footer,nav,a,img {
  margin:  0;
  padding: 0;
  border:none;
}

#icongrid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

button:focus::-moz-focus-inner {
  border-color: transparent;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button {
   outline: none;
}

html[dir=rtl] .apps ol > li,
html[dir=rtl] #footer li {
  float: right;
}

li:active {
  background-color: transparent;
}

/* === Repaint Helper === */
#repaint-helper {
  background-color: black;
  opacity: 0.01;
  width: 1px;
  height: 1px;

  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
}
#repaint-helper.displayed {
  opacity: 0.1;
}

.apps ol > li[data-is-collection = "true"] > div > img,
#footer ol > li[data-is-collection = "true"] > div > img {
  position: relative;
  z-index: 20;
}
.apps ol > li[data-is-collection = "true"] > div:before,
#footer ol > li[data-is-collection = 'true'] > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5.8rem;
  height: 5.8rem;
  margin: 0.3rem 0 0 -2.9rem;
  background: rgba(0, 0, 0, .1);
  border: 0.2rem solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  z-index: 10;
  -moz-box-sizing: border-box;
  background-clip: content-box;
  transform: scale(1);
}

span.options {
  position: absolute;
  top: .1rem;
  left: .5rem;
  width: calc(100% - .5rem);
  height: 2.6rem;
  z-index: 15; /* So the Delete button will be above the collections' circle */
  background: url(../resources/images/delete.png) no-repeat left top / 2.4rem;
}

body[data-mode = 'normal'] span.options {
  display: none;
}

/* Bookmark labels are editable in edit mode */
body[data-mode = 'edit'] .apps ol > li[data-type = "bookmark"] > div > span > span {
  background-color: rgba(132, 132, 132, 0.5);
  border-radius: 2rem;
  padding: .1rem .6rem .3rem .6rem;
}

/* For WVGA (800 x 480), adjust the padding to make app icons fit in 4 x 5 grid */
@media (min-width: 768px) {
  span.options {
    height: 4.5rem;
    background: url(../resources/images/delete.png) no-repeat left top / 4.5rem;
  }
}
/* This is a dirty hack to hide the bottom toolbar while
 * the keyboard is active, than device-height - 40px
 * (for status bar/mini attention screen/software home button),
 * then the keyboard is likely activated
 */

       /* For the Otoro, 320x480 */
@media (device-height: 480px) and (max-height: 390px),
       (device-height: 320px) and (max-height: 230px),
       /* For the Nexus 4 640x384 (no hardware button) */
       (device-height: 384px) and (max-height: 294px),
       (device-height: 640px) and (max-height: 550px),
       /* For the Galaxy SII, 640x480 */
       (device-height: 480px) and (max-height: 390px),
       /* For the Tablet, 800x1280 */
       (device-height: 1280px) and (max-height: 710px),
       /* For the Twist , 960x540 */
       (device-height: 540px) and (max-height: 450px),
       (device-height: 960px) and (max-height: 870px) {
  footer { opacity: 0; pointer-events: none; }
  .apps > div { height: 100%; }
}

/* Default state for the dialogs.
 * Will be overwritten when their respective CSS is lazy loaded.
 */
#contextmenu-dialog, #confirm-dialog {
  display: none;
}

#curtain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  background-color: #333333;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  will-change: opacity;
}

body[data-curtain="true"] #curtain {
  opacity: 1;
}

#edit-header {
  position: absolute;
  top: 0;
  width: 100%;

  opacity: 0;
  transition: opacity 0.4s ease-in;
  will-change: opacity;
}

body[data-curtain='true'] #edit-header {
  opacity: 1;
  z-index: 11000;
}
body[data-mode='edit'] #edit-header {
  z-index: 11000;
}
