html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  font-family:'MozTT', sans-serif;
  overflow: hidden;
  background-color: #000;
}

#landing-page {
  background-color: #000;
  width: 100%;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 2s ease;
  position: absolute;
  z-index: 10000;
}

#groups-page {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  opacity: 1;
  position: absolute;
  z-index: 9000;
  top: 0;
  left: 0;
}

#landing-page.hide {
  opacity: 0;
  pointer-events: none;
}

#landing-page.hide #icon-list {
  transform: scale(2);
}

#group-list li,
#icon-list li {
  color: #FFFFFF;
  list-style-type: none;
  width: 96%;
  margin: 2%;
  font-size: 15px;
  line-height: 5px;
  height: 35px;
}

#group-list li {
  line-height: 35px;
}

#group-list li,
#icon-list li.end-of-section {
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
}

#group-list li img,
#icon-list li img {
  margin: 0 10px 0 0;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

#group-list li img {
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 15px;
}
#group-list,
#icon-list {
  margin:0;
  padding:0;
  width: 100%;
  transition: transform 1s ease;
}

.app-tile {
  width: 142px;
  height: 142px;
  background-color: menu;
  margin: 5px;
  float: left;
  overflow:hidden;
  background-size: 100px 100px;
  background-position: center 10px;
  background-repeat: no-repeat;
  transform: translate3d(0,0,0) rotateY(0deg) rotateZ(0deg); 
  opacity: 1;
}

.app-tile.long-tile {
  width: 294px;
}

.app-tile label{
  color: menutext;
  font-size: 20px;
  font-family: "Tahoma";
  line-height: 250px;
}

#landing-page.show .app-tile {
 transform: translate3d(0,0,0) rotateY(-90deg) rotateZ(0deg) rotateX(0deg);   
 opacity: 0;
 transition: 800ms 0ms;
}

#landing-page.show .app-tile.tr1 {
  transform: translate3d(0,0,0) rotateY(0deg) rotateZ(90deg) rotateX(0deg);  
}

#landing-page.show .app-tile.tr2 {
  transform: translate3d(0,0,0) rotateZ(0deg) rotateY(0deg) rotateX(90deg);  
}

#landing-page .app-tile.animate {
  -moz-animation: dance 0.8s linear 0s 2;
}

@-moz-keyframes dance {
    0% { transform: translate3d(0,0,0) rotateY(0deg) rotateZ(0deg);  opacity: 1;}
    50% { transform: translate3d(0,0,0) rotateY(10deg) rotateZ(-10deg);  opacity: 0.3; }
    100% { transform: translate3d(0,0,0) rotateY(0deg) rotateZ(0deg);  opacity: 1;}
}


* {
  -moz-user-select: -moz-none;
}

input {
  -moz-user-select: text;
}

section,footer,nav,a,img {
  margin:  0;
  padding: 0;
  border:none;
}

#paginationBar {
  width: 100%;
  height: .3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

#paginationBar > .paginationScroller {
  width: 100%;
  height: 100%;
  background-color: #ff7f02;
  transition: transform .35s ease;
  visibility: hidden;
}

#icongrid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

button:focus::-moz-focus-inner {
  border-color: transparent !important;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button {
   outline: none;
}

html[dir=rtl] .apps ol > li {
  float: right;
}

li:active {
  background-color: transparent !important;
}

#landing-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #182026;
  opacity: 0;
}

/* === Repaint Helper === */
#repaint-helper {
  background-color: black;
  opacity: 0.01;
  width: 1px;
  height: 1px;

  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
#repaint-helper.displayed {
  opacity: 0.1;
}

